# Docker build için sadeleştirilmiş bağımlılık listesi
# Gerçek PyTorch versiyonu Dockerfile içinde TARGET_DEVICE'a göre belirlenir.
torch
sentence-transformers
fastapi
uvicorn[standard]
pydantic
pydantic-settings
python-dotenv
structlog
qdrant-client
httpx
# gRPC için eklendi
grpcio
grpcio-tools
sentiric-contracts-py @ git+https://github.com/sentiric/sentiric-contracts.git@v1.9.0